/* General*/
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  max-width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
span {
  color: #f00;
}
h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
h3 {
  margin-bottom: 10px;
}
.topic:hover {
  background-color: #f00;
  color: #fff;
}
/* ------------ HEADER ------------ */

/* -----FIRST PART --------*/

.first-part {
  display: flex;
  justify-content: space-between;
  padding: 5px 24px;
}
.other,
.selection {
  display: flex;
  gap: 1rem;
}
.selection img {
  height: 15px;
}
select {
  border: none;
  background: transparent;
}
/*------SECOND PART --------*/
.mobile-menu {
  position: relative;
}
.mobile-menu ul {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: max-content;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.hamburger {
  position: relative;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 25px;
}
.line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.hamburger .line:nth-child(1) {
  top: 0;
}
.hamburger .line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger .line:nth-child(3) {
  bottom: 0;
}

.hamburger.open .line:nth-child(1) {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}
.hamburger.open .line:nth-child(2) {
  opacity: 0;
}
.hamburger.open .line:nth-child(3) {
  bottom: 50%;
  transform: rotate(-45deg) translateY(50%);
}

.second-part {
  background-color: rgb(252, 249, 249);
  border-bottom: 3px solid #e7e7e7;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding-block: 30px;
  padding-inline: 30px;
}
.second-part ul {
  flex: 1;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  padding-right: 50px;
}
.second-part ul li a:link,
.second-part ul li a:visited {
  color: #000;
}
.second-part ul li a:hover,
.second-part ul li a:active {
  color: #f00;
}
.second-part p {
  font-weight: 700;
  font-size: 22px;
}
/* --------- MAIN -------*/
/* main {
    margin-top: 100px;
} */
/* ------- HOME --------*/

.wallpaper {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/images/welcome-hero/banner.webp");
  background-size: cover;
  height: 920px;
  max-width: 100%;
  position: relative;
}
.wallpaper-content {
  text-align: center;
  padding-top: 140px;
}
.wallpaper-content h2 {
  font-size: 2rem;
}
.wallpaper-content p {
  font-size: 1rem;
  max-width: 90%;
  margin: 0 auto;
}

.wallpaper-content h2,
.wallpaper-content p {
  color: #fff;
  margin-bottom: 30px;
}
.category,
.location {
  padding: 1rem;
  width: min(450px, 95%);
  background-color: #fff;
  display: grid;
  align-items: center;
  column-gap: 10px;
}
.category {
  border-right: 1px solid gray;
  grid-template-columns: 50px 1fr 50px;
}
.location {
  padding-left: 20px;
  grid-template-columns: 80px 1fr 50px;
}
.form-area {
  margin-top: 140px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (width > 768px) {
  .form-area,
  .inputs {
    flex-direction: row;
  }
  .inputs {
    gap: 0;
  }
}

.home-form img {
  height: 30px;
}
.home-form label {
  font-size: 20px;
  color: #000;
}

.home-form input {
  padding: 5px 10px;
  border: none;
}
.home-form input:focus {
  outline: 0;
}
.search-button {
  height: 70px;
  width: 170px;
  font-size: 14px;
  background-color: rgb(255, 84, 90);
  border-radius: 6px;
  color: #fff;
  border: none;
  transition-property: background-color;
  transition-duration: 0.7s;
}
.search-button img {
  padding-left: 10px;
  height: 12px;
}
.search-button:hover {
  background-color: #f00;
  cursor: pointer;
}
.all-topics-container {
  position: absolute;
  bottom: -125px;
  left: 0;
  right: 0;
  overflow-x: auto;
  scrollbar-width: none;
  width: 90%;

  margin: 0 auto;
}
@media (width > 1000px) {
  .all-topics-container {
    display: flex;
    justify-content: center;
  }
}
.topics {
  display: flex;
  width: max-content;
  padding-inline: 8px;
  gap: 20px;
}
.topic {
  width: 150px;
  aspect-ratio: 2/3;
  background-color: #fff;
  box-shadow: 0 0 5px #222;
  padding: 10px 20px;
  line-height: 1.5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.6s ease;
}
.topic img {
  height: 60px;
  margin-bottom: 30px;
}
.topic a:hover {
  color: #fff;
}

/* -------- HOW IT WORKS -------*/

.how-it-works {
  text-align: center;
  padding: 50px;
  margin-top: 150px;
}

.choice {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.choice div {
  padding: 30px 40px;
  width: 300px;
  line-height: 30px;
  background-color: whitesmoke;
  box-shadow: 0 0 3px #888;
  color: #000;
  transition: background 0.8s ease;
}
.choice div:hover {
  background-color: #f00;
  color: #fff;
}
.choice div a:hover {
  color: #fff;
}
.choice div img {
  height: 60px;
}
.choice div figure {
  height: 80px;
  width: 80px;
  padding-top: 10px;
  margin-left: 30%;
  border-radius: 40px;
  background-color: rgb(216, 212, 212);
}
.readMore {
  display: inline-block;
  border: 1px solid rgb(96, 96, 96);
  padding: 10px 20px;
  margin-top: 20px;
}
/* ------ EXPLORE -------*/

.explore {
  background: #f8fafb;
  text-align: center;
  padding-block: 50px;
}
.explore p:first-of-type {
  margin-inline: 8px;
}
.explore-places {
  width: 90%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  line-height: 30px;
  margin: 50px auto 0;
}
.place {
  width: min(350px, 100%);
  border: 1px solid gray;
  border-radius: 1rem;
  position: relative;
}
.place > img {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  width: 100%;
}
.pops {
  width: 90%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -1;
  opacity: 0.2;
  transition: all 1s ease;
}
.pops p {
  background-color: #f00;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
.pops div {
  display: flex;
  gap: 10px;
}
.pops div img {
  object-fit: cover;
  width: 20px;
  height: 20px;
}
.place:hover .pops {
  transform: translateY(-70px);
  z-index: 1;
  opacity: 1;
}
.place-owner-details {
  display: grid;
  grid-template-columns: 50px 1fr;
  border-bottom: 1px solid gray;
  margin-top: 20px;
}
.place:hover {
  box-shadow: 0 0 5px #222;
}
.place-details {
  padding: 10px 20px;
  font-size: 14px;
  z-index: 2;
}
.ratings p {
  display: inline-block;
}
.rate {
  padding: 5px 10px;
  color: #fff;
  margin-right: 5px;
  border-radius: 5px;
}
.explore-footer a {
  color: #f00;
}
.explore-footer span {
  color: rgb(4, 162, 4);
}
.explore h3 {
  font-weight: 500;
  font-size: 18px;
}
.amount {
  padding: 0px 5px;
  border-right: 1px solid rgb(148, 147, 147);
  border-left: 1px solid rgb(148, 147, 147);
}
.explore-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 10px;
}
.explore-footer img {
  height: 15px;
  margin-right: 20px;
}

/* ------- REVIEWS --------*/

.reviews {
  text-align: center;
  padding: 50px 0px;
}
.client-reviews-container {
  margin-block: 30px;
  margin-inline: auto;
  width: 90%;
  overflow-x: auto;
  scrollbar-width: none;
}
.client-reviews {
  display: flex;
  gap: 10px;
}
.client {
  box-shadow: inset 0px 0px 5px #000;
  line-height: 30px;
  min-width: 250px;
  padding: 30px;
  /* background-color: #fff; */
}

.listings-image {
  background-image: url("assets/images/counter/counter-banner.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 200px;
}
.numbers {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.listings span {
  font-size: 32px;
  font-weight: 600;
  color: #000;
}
.listings p {
  font-size: 1.125rem;
  color: #000;
}
.rating-star {
  width: 120px;
}
/*  ------- NEWS AND ARTICLES ----------*/

.blogs {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogs p:first-of-type {
  max-width: 90%;
}
.articles {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  padding-block-start: 30px;
}
.blog-article {
  width: min(370px, 100%);
  line-height: 30px;
  outline: 1px solid gray;
}
.blog-article img {
  width: 100%;
}
.blog-details {
  padding: 10px 20px 20px;
}

/* ---------CONTACT --------*/

.contact {
  text-align: center;
  padding: 100px 20px 50px;
  background-color: #f8fafb;
  min-height: 250px;
  line-height: 1.5;
}
.contact form {
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  width: min(700px, 100%);
  transition-property: box-shadow;
  transition-duration: 0.7s;
}
.contact form:hover {
  box-shadow: 0 0 10px #444;
}
.contact input {
  width: 75%;
  height: 50px;
  font-size: 1rem;
  padding-left: 1rem;
  border: none;
  box-shadow: 0 0 5px #ddd;
  border-radius: 5px 0px 0px 5px;
}
.contact input:focus {
  outline: 0;
}

.contact button {
  border-radius: 0px 5px 5px 0px;
  width: 25%;
  padding: 1rem;
  font-size: 1rem;
  background-color: rgb(255, 84, 90);
  border: none;
  color: #fff;
  transition-property: background-color;
  transition-duration: 0.7s;
}
.contact button:hover {
  background-color: #f00;
}

/* -------- FOOTER -------*/
.links p:first-child {
  font-weight: 600;
  font-size: 1.25rem;
}
.links ul {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  gap: 1rem;
}
.links ul li a:link,
.links ul li a:visited {
  color: #000;
}
.links ul li a:hover,
.links ul li a:active {
  color: #f00;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  gap: 1rem;
}
.external-links {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  border-top: 1px solid rgb(96, 96, 96);
}
.external-links ul li:first-child {
  display: flex;
  align-items: center;
  gap: 5px;
}
.external-links p {
  font-weight: 600;
}
.external-links ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (width > 768px) {
  .external-links ul {
    align-self: flex-end;
  }
}
.external-links ul li img {
  height: 20px;
}
.external-links ul li {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(237, 235, 235);
  padding-top: 4px;
  padding-left: 5px;
}

.external-links ul li:first-child {
  height: 20px;
  width: auto;
  background-color: transparent;
}
.footer {
  padding-block-start: 50px;
  padding-inline: 8px;
}
